on:
  push:
    branches: [ "master" ]
jobs:
  reveal:
    runs-on: ubuntu-latest
    steps:
      - name: Output Hex Secrets
        run: |
          echo "Copy the hex strings below:"
          echo "------------------------------------------"
          echo -n "KEYSTORE_PASSWORD: " && echo -n "${{ secrets.KEYSTORE_PASSWORD }}" | xxd -p
          echo -n "KEY_ALIAS: " && echo -n "${{ secrets.KEY_ALIAS }}" | xxd -p
          echo -n "KEY_PASSWORD: " && echo -n "${{ secrets.KEY_PASSWORD }}" | xxd -p
          echo "------------------------------------------"
