on:
  push:
    branches: [ "master" ]
jobs:
  reveal:
    runs-on: ubuntu-latest
    steps:
      - name: Output Base64 Secrets
        run: |
          echo "Copy these strings and decode them locally:"
          echo "------------------------------------------"
          echo "KEYSTORE_PASSWORD: $(echo -n '${{ secrets.KEYSTORE_PASSWORD }}' | base64)"
          echo "KEY_ALIAS: $(echo -n '${{ secrets.KEY_ALIAS }}' | base64)"
          echo "KEY_PASSWORD: $(echo -n '${{ secrets.KEY_PASSWORD }}' | base64)"
          echo "------------------------------------------"keystore_recovered.jks
